/*#region*/

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto&display=swap');

html{
    font-size: 12px;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  display: block;
  justify-content: center;
  align-items: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 10px;
  }


/*#endregion*/

/*************************************************/
/***********  MAIN COMPONENTS
/*************************************************/

/*#region*/

body{
    height: 100vh;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.row{
    padding-top: 10px;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;

    z-index: 2;
}

/*#endregion*/

/*************************************************/
/***********     Main
/*************************************************/

/*#region*/

.main{
    margin-top: 2.5rem;
}

.main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.main-panels{
    margin-top: 20px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

/*#endregion*/

/*************************************************/
/***********     Panels
/*************************************************/

/*#region*/

.panels{
    padding: 15px;
    margin: 10px;
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
#name{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    color: #000;
    background-color: #f4f4f4;
    border: none;
}
#option{
    width: 150px;
}
.panels-option{
    flex: 1;
    height: max-content;
    text-align: center;
    font-size: 1rem;
    background-color: #f4f4f4;
}

.panels-option *{
    background-color: #f4f4f4;
}

.panels-option > *{
    margin: 10px;
}

.panels-activity{
    flex-grow: 5;
    min-width: 0;
    height: auto;
}

/*#endregion*/

/*************************************************/
/***********     Components
/*************************************************/

/*#region*/

.input_set{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 0;
    font-size: 14px;
}

.input_set > p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 24px;
    width:max-content;
}

.input_set > input{
    width: 400px;
    border: 1px solid transparent;
    border: 1px solid black;
    background-color: #f4f4f4;
    text-align: center;
    flex:1;
}

.input_set > input:focus{
    border: 1px solid transparent;
    outline: none;
    border-bottom: 1px solid black;
}

.input_set > select{
    border: 1px solid transparent;
    border: 1px solid black;
    background-color: #f4f4f4;
    text-align-last: center;
    flex:3;
}

.input_set > select:focus{
    border: 1px solid transparent;
    outline: none;
    border-bottom: 1px solid black;
}

.collapsible-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .collapsible-window1 {
    width: 60%;
    display: flex;
    padding: var(--dl-space-space-oneunit);
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }

.button{
    background-color: rgb(0, 0, 0);
    color: white;

    padding: 5px;
    text-align: center;
    border-radius: 4px;

    transition: 0.15s;

    cursor: pointer;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

.space{
    height:0.5rem;
}

/*************************************************/
/***********     Activity Frame
/*************************************************/

.parent_frame{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    height: auto;
    
}

.parent-frame-container{
    width: 100%;
    height: auto;

    flex-grow: 1;
    min-height: 0;
}

.frame-input {
    padding: 5px;
    flex-grow: 1;
    min-height: 0;
}

.frame-input-title{
    text-align: center;
    margin: 5px;
}

.frame-input-belt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.frame-input-belt *{
    margin: 2px;

    background-color: #000;
    color: white;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.frame-input-belt-entry{
    background-color: #000;
    color: white;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.frame-history{
    height: auto;
    /*max-height: 110vh;
    overflow-x: auto;*/

    text-align: center;
    padding-top: 25px;
    
    overflow-x: auto;

}

.frame-history > table{
    margin: auto;
}

.parent-frame-container{
    flex-grow: 1;
    min-width: 0;
}

.frame-input-belt-entry{
    background-color: #00443e;
    color: white;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.history-entry{
    margin: 2px;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;

    transition: 0.15s;

    margin-bottom: 20px;

    border-right: 1px solid black;

    padding-right: 12px;

}

.history-entry > p{
    /*
    background-color: rgb(93, 54, 100);
    color: white;
    */

    padding: 5px 3px;

    text-align: center;

    vertical-align: middle;
    border-radius: 5px;
    width: max-content;
    min-width: 25px;
    
    margin: 5px auto;

}

.history-entry > .data{
    
    padding: 10px 0px;
    
    transition: 0.15s;
}

.history-list{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    width: auto;
    height: auto;

    margin: auto;

    margin-top: 25px;


}

.data > p{
    font-size: 1rem;
}

.error{
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    color: red;
}

.hide-display{
    display: none;
}

/*#endregion*/

/*************************************************/
/***********   Query
/*************************************************/

@media (max-width: 800px) {
    .main-panels {
      flex-direction: column;
    }
    .space{
        height: 0rem;
    }
  }

  
  :root {
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-space-space-oneunit: 16px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-space-space-oneandhalfunits: 24px;
  }
  .collapsible-window1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .collapsible-resum1 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .collapsible-form1 {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: var(--dl-space-space-halfunit);
  }
  .collapsible-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collapsible-container11 {
    flex: 0 0 auto;
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collapsible-window11 {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text01 {
    width: 50%;
    display: flex;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text02 {
    width: auto;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .collapsible-textinput {
    width: 50%;
    height: auto;
    font-size: 14px;
    text-align: center;
  }
  .collapsible-container12 {
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collapsible-window12 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text03 {
    width: 50%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text04 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .collapsible-textinput1 {
    width: 50%;
    height: auto;
    font-size: 14px;
    align-self: center;
    max-height: auto;
    text-align: center;
  }
  .collapsible-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collapsible-container2 {
    flex: 0 0 auto;
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collapsible-window13 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text09 {
    width: 50%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text10 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .collapsible-textinput2 {
    width: 50%;
    height: auto;
    font-size: 14px;
    text-align: center;
  }
  .collapsible-container13 {
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collapsible-window14 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text11 {
    width: 50%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .collapsible-text12 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .collapsible-textinput3 {
    width: 50%;
    height: auto;
    font-size: 14px;
    text-align: center;
  }
  .collapsible-container14 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: center;
  }
  .collapsible-button1 {
    color: #FFFFFF;
    width: 30%;
    text-align: center;
    background-color: #000000;
  }
  .collapsible-text13 {
    font-size: 14px;
  }